@import "bootstrap-sprockets";
@import "bootstrap";

.one{
	width: 10%;
}

.two{
	width: 10%;
}
.three{
	width: 10%;
}

.four{
	width: 10%;
}
.five{
	width: 10%;
}

.six{
	width: 10%;
}
.seven{
	width: 10%;
}

.eight{
	width: 10%;
}
.nine{
	width: 10%;
}

.ten{
	width: 10%;
}